/* Importando configurações globais */
@charset "UTF-8";
@import url('../global/settings.css');


header {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Box model stuff*/
    width: clamp(768px, 90%, 1440px);
    height: 5rem;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header>section {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
}

header>#area-da-loja>#logo {
    /*Box model stuff*/
    margin-right: 1.5rem;
}

#btn-menu {
    /*Display stuff*/
    display: none;
}

header>#area-da-loja>#menu>.menu-item {
    /*Positioning stuff*/
    position: relative;
    /*Box model stuff*/
    margin-right: 1rem;
    /*Typography stuff*/
    color: rgba(0, 0, 0, 0.7);
    /*Manipulations stuff*/
    transition: 300ms;
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-da-loja>#menu>.menu-item:hover {
    /*Typography stuff*/
    color: #000;
}


header>#area-da-loja>#menu>.menu-item::before {
    /*Display stuff*/
    content: '';
    /*Positioning stuff*/
    position: absolute;
    left: 0;
    top: 3.1rem;
    /*Box model stuff*/
    width: 0;
    height: 0.15rem;
    background-color: hsl(26, 100%, 55%);
    /*Manipulations stuff*/
    transition: width 300ms cubic-bezier(1, 0, 0, 1);
}

header>#area-da-loja>#menu>.menu-item:hover::before {
    /*Box model stuff*/
    width: 100%;
}

header>#area-do-usuario {
    /*Positioning stuff*/
    position: relative;
}

header>#area-do-usuario>#icone-carrinho:hover {
    /*Manipulations stuff*/
    filter: brightness(0);
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-do-usuario>#carrinho {
    /*Display stuff*/
    display: flex;
    display: block;
    flex-direction: column;
    /*Positioning stuff*/
    position: absolute;
    right: -0.5rem;
    top: 5rem;
    /*Box model stuff*/
    width: 20rem;
    height: 0rem;
    border-radius: 0.25rem;
    background-color: #FFF;
    /*Manipulations stuff*/
    transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    /*Miscellaneous*/
    box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.3);
    visibility: hidden;
    overflow-y: hidden;
}

header>#area-do-usuario>#carrinho::-webkit-scrollbar {
    /*Display stuff*/
    display: none;
}

header>#area-do-usuario>#carrinho.active {
    /*Box model stuff*/
    height: 15rem;
    /*Miscellaneous*/
    visibility: visible;
    overflow-y: auto;
}

header>#area-do-usuario>#carrinho>h4 {
    /*Box model stuff*/
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /*Typography stuff*/
    font-weight: bold;
    text-indent: 2rem;
}

header>#area-do-usuario>#carrinho>#pedido {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    width: 100%;
    height: 78%;
}


header>#area-do-usuario>#carrinho>#pedido>#empty {
    /*Typography stuff*/
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

header>#area-do-usuario>#imagem-do-usuario {
    /*Box model stuff*/
    width: 4rem;
    margin: 0 0 0 2rem;
    border: 2px solid transparent;
    border-radius: 50%;
    /*Manipulations stuff*/
    transition: border 300ms;
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-do-usuario>#imagem-do-usuario:hover {
    /*Box model stuff*/
    border: 2px solid hsl(26, 100%, 55%);
}

#btn-fechar-menu {
    /*Display stuff*/
    display: none;
}