@charset "UTF-8";

/* dedicated stylesheet for global settings */

@import url('colors.css');
@import url('fonts.css');
@import url('normalize.css');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8rem;
    cursor: default;
}

html, body {
    background-color: var(--Light-grayish-blue);
}

body {
    padding: 4rem;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

main > .card {
    padding: 1.9rem;
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main > .card > .user-section {
    height: 3rem;
    display: flex;
}

main > .card > .user-section > .userpicture > img {
    border-radius: 50%;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    height: 100%;
}

main > .card > .user-section > .user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0.5rem;
}

main > .card > .user-section > .user > .username {
    font-weight: bold;
}

main > .card > .user-section > .user > .verified {
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
}

main > .card > .comment-title > h1 {
    margin: 0.5rem 0;
    font-weight: bold;
    text-align: left;
}

main > .card > .comment > h2 {
    margin: 0.5rem 0;
    font-weight: 300;
    text-align: justify;
    align-self: flex-end;
    font-size: 0.95rem;
}

main > .card#card-one {
    background-color: var(--Moderate-violet);
    color: var(--Light-grayish-blue);
    background-image: url('../testimonials-grid-section-main/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 85% 0;
    background-size: 8rem;
}

main > .card#card-two {
    background-color: var(--Very-dark-grayish-blue);
    color: var(--Light-grayish-blue);
}

main > .card#card-three {
    background-color: var(--White);
    color: var(--Very-dark-grayish-blue);
}

main > .card#card-three > .user-section > .user > .verified,
main > .card#card-five > .user-section > .user > .verified {
    color: rgb(25, 33, 46, 0.8);
}

main > .card#card-four {
    background-color: var(--Very-dark-blackish-blue);
    color: var(--Light-grayish-blue);
}

main > .card#card-five {
    background-color: var(--White);
    color: var(--Very-dark-grayish-blue);
}
