/* Importando configurações globais */
@charset "UTF-8";
@import url('../global/settings.css');

header {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Box model stuff*/
    width: 100%;
    height: 3.5rem;
    margin: 0 0 1rem 0;
    padding: 0 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header>section {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
}

header>#area-da-loja>#logo {
    /*Box model stuff*/
    margin-left: 1.5rem;
    /*Miscellaneous*/
    order: 2;
}

header>#area-da-loja>#btn-menu {
    /*Display stuff*/
    display: inline-block;
    /*Box model stuff*/
    border-radius: 50%;
    /*Manipulations stuff*/
    transition: 300ms;
    opacity: 0.7;
    /*Miscellaneous*/
    order: 1;
    cursor: pointer;
}

header>#area-da-loja>#btn-menu:hover {
    /*Box model stuff*/
    background-color: rgba(0, 0, 0, 0.1);
    /*Manipulations stuff*/
    opacity: 1;
    /*Miscellaneous*/
    scale: 1;
}

header>#area-da-loja>#menu>.menu-item {
    /*Display stuff*/
    display: block;
    /*Positioning stuff*/
    position: relative;
    left: 1.5rem;
    top: 2rem;
    /*Box model stuff*/
    margin: 1rem 0;
    /*Typography stuff*/
    font-weight: bold;
    /*Manipulations stuff*/
    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-da-loja>#menu>* {
    opacity: 0;
}

header>#area-da-loja>#menu>.menu-item:hover {
    /*Typography stuff*/
    color: #000;
}

header>#area-do-usuario>#icone-carrinho:hover {
    /*Manipulations stuff*/
    filter: brightness(0);
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-do-usuario>#imagem-do-usuario {
    /*Box model stuff*/
    width: 2.5rem;
    margin: 0 0 0 2rem;
    border: 2px solid transparent;
    border-radius: 50%;
    /*Manipulations stuff*/
    transition: border 300ms;
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-do-usuario>#imagem-do-usuario:hover {
    /*Box model stuff*/
    border: 2px solid hsl(26, 100%, 55%);
}

header>#area-da-loja>#menu>#btn-fechar-menu {
    /*Positioning stuff*/
    position: relative;
    left: 1.5rem;
    top: 1.5rem;
    /*Box model stuff*/
    border-radius: 50%;
    /*Manipulations stuff*/
    transition: all 300ms;
    /*Miscellaneous*/
    cursor: pointer;
}

header>#area-da-loja>#menu>#btn-fechar-menu:hover {
    /*Box model stuff*/
    background-color: rgba(0, 0, 0, 0.1);
    /*Miscellaneous*/
    scale: 1.2;
}


header>#area-da-loja>#menu {
    /*Positioning stuff*/
    position: fixed;
    left: 0;
    top: 0;
    /*Box model stuff*/
    width: 0%;
    height: 100%;
    background: #FFF;
    /*Manipulations stuff*/
    transition: width 500ms cubic-bezier(1, 0, 0, 1);
    /*Miscellaneous*/
    overflow: hidden;
}

header>#area-da-loja>#menu.active {
    /*Box model stuff*/
    width: 50%;
}

header>#area-da-loja>#menu.active>* {
    /*Positioning stuff*/
    position: relative;
    /*Manipulations stuff*/
    opacity: 1;
}