@charset "UTF-8";

/* stylesheets for mobile devices */

/* header */

#header {
    justify-content: center;
    flex-direction: column;
    height: auto;
}

#header > h1 {
    margin: 0.5rem 0%;
}

#header > #navbar > ul > li {
    display: block;
    margin: 0.6rem 0;
}

#header > #navbar > ul:last-child {
    margin: 0 0 0 0;
}

/* main content */

main > #gallery {
    grid-template-columns: repeat(1, 1fr);
}
