@charset "UTF-8";

body {
    background: rgb(7, 7, 7);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

#container-smartphone {
    width: 15em;
    height: 30em;
    background: url('imagens/frame-iphone.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

#container-smartphone > iframe {
    border: transparent;
    width: 87.5%;
    height: 76.5%;
    position: absolute;
    top: 12.25%;
    left: 6.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#container-buttons {
    justify-self: flex-end;
    position: relative;
    right: 5%;
}

#container-buttons > div > a > img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}