@charset "UTF-8";

/*Folha de estilos*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

:root {
    --background: #F2F2F2;
    --font-color: #393939;
    --color: #3498DB;
}

body {
    background-color: var(--background);
    color: var(--font-color);
    padding: 0 3em;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header > img {
    height: 50%;
}

header > h1 {
    font-size: 110%;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > #right-side {
    width: 50%;
}
main > #left-side {
    width: 50%;
}

main > #right-side > h1 {
    font-weight: bold;
    font-size: 4em;
    line-height: 1.2em;
}
main > #right-side > #lorem {
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.2em;
    text-align: justify;
}

main > #right-side > #buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main > #right-side > #buttons > button {
    border: 0;
    padding: 1em 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2em;
    margin: 1.2em 0;
}
main > #right-side > #buttons > #lm-button {
    border: 1px solid var(--color);
    background-color: var(--color);
    color: var(--background);
    cursor: pointer;
    transition: 400ms;
}

main > #right-side > #buttons > #lm-button:hover {
    border: 1px solid var(--color);
    background-color: var(--background);
    color: var(--color);
}

main > #right-side > #buttons > #ca-button {
    border: 1px solid var(--color);
    background-color: var(--background);
    color: var(--color);
    cursor: pointer;
    transition: 400ms;
}

main > #right-side > #buttons > #ca-button:hover {
    border: 1px solid var(--color);
    background-color: var(--color);
    color: var(--background);
}



main > #right-side > #disp {
    font-weight: lighter;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8em;
    text-align: justify;
}

main > #left-side {
    text-align: center;
}

main > #left-side > img {
    height: 100%;
}

@media screen and (max-width: 769px) {

    main {
        display: flex;
        flex-direction: column;
    }

    main > #right-side {
        width: 100%;
        order: 2;
    }
    main > #left-side {
        width: 100%;
        order: 1;
    }

    main > #left-side > img {
        width: 80%;
        max-width: 300px;
        order: 1;
    }

}

@media screen and (max-width: 395px) {
    main > #right-side > #buttons > button {
        border: 0;
        padding: 1em 1em;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 2em;
        margin: 0.6em 0;
    }
} 