@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* Global settings and styles */


:root {
    --soft-cyan-full-slider-bar: hsl(174, 77%, 80%);
    --strong-cyan-slider-background: #10d5c2;
    --light-grayish-red-discount-background: hsl(14, 92%, 95%);
    --light-red-discount-text: hsl(15, 100%, 70%);
    --pale-blue-cta-text: hsl(226, 100%, 87%);
    --white-pricing-component-background: hsl(0, 0%, 100%);
    --very-pale-blue-main-background: hsl(230, 100%, 99%);
    --light-grayish-blue-empty-slider-bar: #eaeefb;
    --light-grayish-blue-toggle-background: hsl(223, 50%, 87%);
    --grayish-blue-text: hsl(225, 20%, 60%);
    --dark-desaturated-blue-text-cta-background: hsl(227, 35%, 25%);
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    cursor: default;
}

html {
    min-height: 100vh;
    max-width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--very-pale-blue-main-background);
    width: 100%;
    height: 100%;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    background-color: var(--light-grayish-blue-empty-slider-bar);
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Configurações para textos padrões */

.default-text {
    color: var(--grayish-blue-text);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Configuração do Header */

header {
    text-align: center;
}

header>#pricing-heading {
    color: var(--dark-desaturated-blue-text-cta-background);
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
}

header>.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>.desktop>.signup-text {
    font-size: 0.75rem;
    color: var(--grayish-blue-text);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90vw;
    max-width: 600px;
}

main>#config {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: var(--white-pricing-component-background);
    border-radius: 0.5rem 0.5rem 0 0;

    box-shadow: 0rem -1rem 1rem rgba(0, 0, 0, 0.05);

    border-bottom: 2px solid rgba(0, 0, 0, 0.025);
}

/* Configuração do Range */

main>#config>input#range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 0.35rem;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

/* Configuração do Range WebKit */
main>#config>input#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--strong-cyan-slider-background) url("../../interactive-pricing-component-main/images/icon-slider.svg") no-repeat;
    background-size: 21px 14px;
    background-position: center center;
    box-shadow: 0 0.5rem 0.75rem var(--soft-cyan-full-slider-bar);
    position: relative;
    top: -1rem;
    cursor: grab;
}

main>#config>input#range::-webkit-slider-thumb:active {
    cursor: grabbing;
    background-color: #0eae9e;
}

main>#config>input#range::-webkit-slider-runnable-track {
    background-color: transparent;
    height: 0.5rem;
    border-radius: 5px;
}

/* Configuração do Range Moz */
main>#config>input#range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--strong-cyan-slider-background) url("../../interactive-pricing-component-main/images/icon-slider.svg") no-repeat;
    background-size: 21px 14px;
    background-position: center center;
    box-shadow: 0 0.5rem 0.75rem var(--soft-cyan-full-slider-bar);
    position: relative;
    top: -1rem;
    cursor: grab;
}

/* Configuração do Range MS */
main>#config>input#range::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--strong-cyan-slider-background) url("../../interactive-pricing-component-main/images/icon-slider.svg") no-repeat;
    background-size: 21px 14px;
    background-position: center center;
    box-shadow: 0 0.5rem 0.75rem var(--soft-cyan-full-slider-bar);
    position: relative;
    top: -1rem;
    cursor: grab;
}


main>#config>input#range::-moz-range-track {
    background-color: transparent;
    height: 0.5rem;
    border-radius: 5px;
}

main>#config>input#range::-ms-track {
    background-color: transparent;
}

main>#config>input#range::-webkit-slider-thumb:hover,
main>#config>input#range::-moz-range-thumb:hover,
main>#config>input#range::-ms-thumb:hover {
    background-color: transparent;
}


main>#config>.default-text>#price-display {
    color: var(--dark-desaturated-blue-text-cta-background);
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: 0.5rem;
}

main>#config>#billing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main>#config>#billing>.billing-text {
    margin: 0.5rem;
}

main>#config>#billing>#discount-value {
    color: var(--light-red-discount-text);
    background-color: var(--light-grayish-red-discount-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
}

main>#config>#billing>#discount-value>.desktop {
    margin-left: 0.25rem;
    font-size: 0.7rem;
}

main>#config>#billing>#checkbox {
    display: none;
}

main>#config>#billing#billing>.toggle-btn {
    width: 35px;
    height: 19px;
    background-color: var(--light-grayish-blue-toggle-background);
    border-radius: 15px;
    cursor: pointer;
    margin: 0 0.5rem;
    scale: 1.5;
    position: relative;
}

main>#config>#billing>#checkbox:checked+.toggle-btn {
    background-color: var(--strong-cyan-slider-background);
    transition: background-color 300ms;
}

main>#config>#billing>.toggle-btn::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    top: 3px;
    left: 3px;
    transition: all 0.5s ease-in-out;
}

main>#config>#billing>#checkbox:checked+.toggle-btn::before {
    transform: translateX(16px);
}

main>#confirmation {
    display: flex;
    align-self: flex-start;
    align-items: center;

    width: 100%;

    background-color: var(--white-pricing-component-background);
    box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.05);
    border-radius: 0 0 0.5rem 0.5rem;
}

main>#confirmation>ul {
    list-style-type: none;
    text-align: center;
    color: var(--grayish-blue-text);
}

main>#confirmation>ul>li {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

main>#confirmation>ul>li>img {
    margin-right: 0.25rem;
}


main>#confirmation>button#trial-button {
    width: 12rem;
    height: 2.5rem;
    font-size: 0.8rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--dark-desaturated-blue-text-cta-background);
    color: var(--pale-blue-cta-text);
    cursor: pointer;
}