@charset "UTF-8"; /*Compatibilidade com UTF-8*/

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*Fonte Geologica*/

/*Folha de estilo dedicada para dispositivos mobile*/


:root {
    --color-illustration: #3661FF; /*Paleta de cores*/
    --color-mid-night-green: #004346;
    --color-mint: #09BC8A;
    --color-magnolia: #EFE9F4;
    --color-aqua: #42F2F7;
}

body {
    height: auto;
}

main > #login {
    flex-direction: column;
    font-size: 0.9em;
}

