@charset "UTF-8";

@import url('normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Desktop screens */

* {
    box-sizing: border-box;
    border: none;
    outline: none;

    padding: 0rem;
    margin: 0rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;

    cursor: default;
    user-select: none;
}

body {
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: hsl(0, 0%, 94%);

    padding: 2rem;
}

main {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 34.375rem;
    padding: 1.5rem;
    border-radius: 1rem 1rem 7rem 1rem;
    position: relative;

    box-shadow: 0rem 0rem 1rem 0 rgba(0, 0, 0, 0.1);
}

main>#form {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    padding-bottom: 2rem;
    width: 90%;
    height: 7rem;
    margin-bottom: 1rem;
}

main>#form>.input {
    margin-right: 1rem;
}

main>#form>.input>label {
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

main>#form>.input>input {
    width: 7rem;
    height: 3rem;
    margin-top: 0.3rem;
    border-radius: 0.3rem;
    padding: 0rem 0.8rem;
    font-weight: bold;
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
}

main>#form>.input>input:focus {
    border: 1px solid hsl(0, 1%, 44%);
}

main>#form>.input>label.fieldErrorText {
    color: hsl(0, 100%, 67%);
}

main>#form>.input>input.fieldErrorText {
    border-color: hsl(0, 100%, 67%);
}

main>#form>.input>p.fieldErrorText {
    margin-top: 0.5rem;
    font-size: 0.5rem;
    color: hsl(0, 100%, 67%);
    font-style: italic;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

main>#button_submit {
    width: 3.5rem;
    height: 3.5rem;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    position: absolute;
    right: 1.5rem;
    top: calc(1.5rem + 2rem + 3.2rem);
}

main>#button_submit:hover {
    background-color: hsl(259, 65%, 25%);
}

main>#button_submit>img {
    width: 50%;
    cursor: pointer;
}

main>#result>h2 {
    font-size: 4rem;
    color: hsl(0, 0%, 8%);
    font-style: italic;
    margin-bottom: 0;
}

main>#result>h2>strong>span {
    color: hsl(259, 100%, 65%);
}