@charset "UTF-8";

@import url('../../../global.css');

/* dedicated stylesheet for mobile index.html */


body {
    background: var(--Very-Dark-Blue) url('../../../../fylo-data-storage-component-master/images/bg-mobile.png') no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

#main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-content > #left-side-box {
    width: 90vw;
    max-width: 700px;
}

#main-content > #left-side-box > #logo {
    width: 10rem;
    margin-bottom: 1rem;
}

#main-content > #right-side-box {
    margin: 1rem 0rem;
    width: 90vw;
    max-width: 700px;
    height: 8rem;
    position: relative;
    border-radius: 0.6rem;
}


#main-content > #right-side-box > #popup-storage-left {
    display: flex;
    position: absolute;
    left: 46.5%;
    top: 75%;
    transform: translate(-50%, 0);
    padding: 1rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255.7);
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
}

@media screen and (max-width: 295px){
    #main-content > #right-side-box {
        height: 10rem;
    }

    #main-content > #right-side-box > #popup-storage-left {
        display: none;
    }
}