@charset "UTF-8";

@import url('../../global.css');

/* dedicated stylesheet for mobile index.html */

body {
    flex-direction: column;
}

main {
    flex-direction: column;
    width: 100vw;
    max-width: 425px;
    height: auto;
}

main > section {
    width: 100%;
    height: auto;
}

#summary-left {
    border-radius: 0 0 1.5rem 1.5rem;
    position: relative;
}

#summary-right {
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    position: relative;
    top: -1.3rem;
    left: 0;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
