/* Importando o normalize.css */

@charset "UTF-8";
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Configurações Globais do projeto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    cursor: default;
    user-select: none;
    border: none;
    outline: none;
    appearance: none;
    touch-action: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #FFF;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 3rem;
}

a.menu-item {
    color: #000;
}